body {
  background-color: darkred;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: -90px;
  font-family: "Shadows Into Light", cursive;
}

h3 {
  font-size: 20px;
}

#header {
  text-align: center;
  /*text-decoration: underline;*/
  color: white;
  font-size: 50px;
  margin-bottom: 100px;
  font-family: "Shadows Into Light", cursive;
}

#quote-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: auto;
  margin: 50px 10px 10px 10px;
  padding: 10px;
  box-shadow: 0px 0px 30px 15px black;
  border-radius: 10px;
}

#tweet-quote {
  color: darkred;
}

#new-quote {
  background-color: darkred;
}

#button-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#author {
  margin: 10px;
  text-align: right;
}

#text {
  font-family: Montserrat, "Courier New", Courier;
  margin: 50px;
  color: darkred;
}

#text h1 {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1ms linear;
}
